@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.hero-container{
    /* position: relative; */
    width: 100%;
    height: 700px;
    background-color: #362b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left{
    background-color: #242121;
    width: 45%;
    height: 100%;
    position: relative;
    padding-top: 25px;
    /* padding-left: 45px; */
}
.hero-right{
    width: 55%;
    height: 100%;
    /* background-color: rgb(255, 230, 0); */
    /* position: relative; */
}
.heading{
    /* position: absolute; */
    text-indent: 20px;
}
.heading h2{
    font-size: 40px;
    color: white;
    font-family: 'Dela Gothic One', cursive;
}
.heading-back{
    /* position: relative; */
    
    /* background-color: #dfa9a9; */
    font-family: 'Dela Gothic One', cursive;
    font-size: 6.5vw;
    color: #ffffff3b;
    top: 100px;
    margin-top: 55px;
}
.heading-back h2{
    /* background-color: blue; */
    line-height: 1;
    width: 100%;
}
.span-1{
    font-size: 12.2vw;
}
.heading-back .span-2{
    position: absolute;
    margin-top: 0px;
    margin-left: 25px;
    font-size: 3vw;
}

.img-dp{
    position: absolute;
     left: 35%;
    /* transform: translate(-50%,50%); */
    font-family: 'Dela Gothic One', cursive;
    color: #fff;
    width: 60%;
    /* background-color: #926b6b;   */
    font-size: 2.4vw;
}
.img-dp-con{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 7px solid #fff;
    overflow: hidden;
    /* width: 90%;
    height: 90%; */
}
.img-dp-con img{
    width: 90%;
    
    height: 90%;
    /* transform: scale(1.3); */
    transition: transform 0.2s ease-in-out;

    /* border: 7px solid #fff; */
    border-radius: 100%;
    /* margin-left: auto;
    margin-top: auto; */
}
.img-dp-con:hover img{
    transform: scale(1.2);
}

.quote{
    /* width: 50%; */
    position: absolute;
    top: 0;
    left:  0px;
    color: #fff;
    font-size: 16px;
    /* background-color: #ff0000; */
    margin-left: 50%;
    font-family: 'Dela Gothic One', cursive;
    font-weight: 400;

}

h1 span{
    font-size: 28px;
}
.role{
    width:fit-content;
    padding: 10px 20px;
    background-color: #FEF200;
    color: #242121;
    font-size: 1.8vw;
    margin-left: 50%;
}
.cloud{
    /* margin: 0 100px;   */
    position: absolute;
    border-radius:20px ;
    font-size: 10px;
    color: rgb(0, 0, 0);
    top: -40px;
    left: 10px;

    min-width: 220px;
    /* height: 90px; */
    padding: 10px;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 3px solid rgb(0, 0, 0);
}
.cloud::after,
.cloud::before{
    content: ' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;

    transform: rotate(90deg);
    border-style: solid;
}

.cloud::after{
    left: 30px;
    
    border-color: transparent transparent #ffffff #ffffff ;
    border-width: 12px;
}
.cloud::before{
    top: 101%;

    left: 27px;
    border-color: transparent transparent rgb(0, 0, 0) rgb(0, 0, 0);
    border-width: 15px;
}

@media screen and (max-width:1024px) {
    .img-dp-con{
        width: 220px;
        height: 220px;
    }
    .quote{
        font-size: 14px;
    }
    
}
@media screen and (max-width:720px) {
    .img-dp{
        left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quote p{
        display: none;
    }
    .img-dp .img-dp-con:hover+.quote .cloud{
        display: flex;
    }
}